* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background-color: rgba(7, 14, 30, 0.945);
  position: relative;
  overflow-y: scroll;
  background-color: #1e1e2e;
  color: #ddd;
  margin: 0;
  padding: 20px;
}

#gradient-overlay {
  pointer-events: none;
  transition: background-position 0.1s ease;
}

#portfolio, #archive {
  background-color: rgba(7, 14, 30, 0.945);
  height: 100vh;
  overflow-y: scroll;
  z-index: 1;
  position: relative;
}
#portfolio .container, #archive .container {
  margin: 0 auto;
  width: 1280px;
}
#portfolio .container .row, #archive .container .row {
  display: flex;
}
#portfolio .container .row h1, #archive .container .row h1 {
  font-size: 40px;
  color: white;
}
#portfolio .container .row .col-6, #archive .container .row .col-6 {
  margin: 100px 0;
  color: #94a3b8;
  font-size: 16px;
}
#portfolio .container .row .col-6 a, #archive .container .row .col-6 a {
  text-decoration: none;
  color: #e2e8f0;
}

.card {
  background-color: rgba(7, 14, 30, 0.945);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: rgba(7, 14, 30, 0.945);
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #444;
}

th {
  color: #f4f4f4;
}

td {
  color: #f4f4f4;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text {
  position: fixed;
}
.text nav ul {
  list-style: none;
}
.text nav ul li {
  display: block;
  position: relative;
  padding: 10px 0 10px 40px;
}
.text nav ul li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #e2e8f0;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.3s ease;
}
.text nav ul li.active::before {
  width: 70px;
}
.text nav ul .content {
  display: none;
}
.text nav ul .content.active {
  display: block;
  margin-top: 50px;
}

.content-experience {
  margin-top: 150px;
}
.content-experience .content-experience-inform {
  display: flex;
  gap: 30px;
  width: 576px;
  margin-top: 10px;
  padding: 15px 20px;
  border-radius: 10px;
}
.content-experience .content-experience-inform:hover {
  background-color: rgba(148, 163, 184, 0.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.content-experience .content-experience-inform .content-experience-date {
  white-space: nowrap;
  width: 110px;
}
.content-experience .content-experience-inform .content-experience-action {
  width: 466px;
}
.content-experience .content-experience-inform ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  list-style: none;
}
.content-experience .content-experience-inform ul li div {
  padding: 5px;
  background-color: #041426;
  border-radius: 10px;
  color: rgba(20, 243, 236, 0.769);
  font-size: 15px;
}

.content-projects {
  margin-top: 150px;
}
.content-projects .content-projects-inform {
  display: flex;
  gap: 30px;
  margin-top: 10px;
  padding: 15px 20px;
  border-radius: 10px;
}
.content-projects .content-projects-inform:hover {
  background-color: rgba(148, 163, 184, 0.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.content-projects .content-projects-inform img {
  width: 110px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-projects .content-projects-inform ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  list-style: none;
}
.content-projects .content-projects-inform ul li > div {
  padding: 10px;
  background-color: #041426;
  border-radius: 10px;
  color: rgba(20, 243, 236, 0.769);
}

.content-group {
  margin-top: 150px;
}
.content-group .content-group-inform {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  padding: 15px 20px;
  border-radius: 10px;
}
.content-group .content-group-inform:hover {
  background-color: rgba(148, 163, 184, 0.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.content-group .content-group-inform img {
  width: 110px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-text {
  margin-top: 150px;
}/*# sourceMappingURL=style.css.map */