@import './base/reset';

@import './helpers/variables';
@import './helpers/mixins';

@import './layout/grid';

.text {
    position: fixed;

    & nav ul {
        list-style: none;
        

        & li {
            display: block;
            position: relative;
            padding: 10px 0 10px 40px;
            &::before{
                content: "";
                display: inline-block;
                width: 30px;
                height: 2px;
                background-color: $color-a;
                left: 30px;
                top: 50%;
                transform: translateY(-50%);
                transition: width 0.3s ease;

            }
            &.active::before{
                width: 70px;
            }
            
        }
        .content {
            display: none;
        }
        .content.active{
            display: block;
            margin-top: 50px;
        }
    }
}

.content-experience {
    @include experience;
    margin-top: 150px
}

.content-projects {
    @include projects;
    margin-top: 150px;
}
.content-group{
    @include group;
    margin-top: 150px;

}
.content-text{
    margin-top: 150px;
}