*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-family: Arial, sans-serif;
}


body {
    height: 100vh;
    margin: 0;
    background-color: rgba(7, 14, 30, 0.945); 
    position: relative;
    overflow-y: scroll; 
    color: #ddd;
    margin: 0;
    padding: 20px
}