

#portfolio{
    background-color: $bg-body;
    // background: radial-gradient(600px at 557px 568px, rgba(29, 78, 216, 0.15), transparent 80%);

    .container{
        margin: 0 auto;
        width: 1280px;
        color: $color-text;
        
    
         .row{
            display: flex;

            .col-6{
                margin: 100px 0;
                color: $color-text;
                font-size: $font-text;
                a{
                    text-decoration: none;
                    color: $color-a;
                }
            }
        }
        
    }

}