#gradient-overlay {
    pointer-events: none; 
    transition: background-position 0.1s ease; 
}

#portfolio, #archive{
    background-color: $bg-body;
    height: 100vh;
    overflow-y: scroll;
    z-index: 1;
    position: relative;

    .container{
        margin: 0 auto;
        width: 1280px;
        
    
         .row{
            display: flex;
            h1{
                font-size: 40px;
                color: white;
            }

            .col-6{
                margin: 100px 0;
                color: $color-text;
                font-size: $font-text;
                a{
                    text-decoration: none;
                    color: $color-a;
                }
            }
        }
        
    }

}